.agree
  .font-w-extra-light.font-s-12
    | Я принимаю условия 
    a(href="#" data-remodal-target="privacy").agree__privacy Политики конфиденциальности
  //- .agree__container
    //- img.agree__checkbox(src="images/checkbox.svg" loading="lazy" width="14" height="14" alt="checkbox")

