section.details-section
  .wrapper
    .details-section__container
      img.details-section__icon-star-up(src="images/details-section-icon-star.svg" loading="lazy" width="48" height="48" alt="icon")
      img.details-section__icon-star-down(src="images/details-section-icon-star.svg" loading="lazy" width="48" height="48" alt="icon")
      h2.details-section__title.font-w-o-regular.font-s-36.text-up
        | Десерты, на которых вы 
        br
        span.color-violet будете зарабатывать
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="560" height="560" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="960" height="560" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-3.jpg" loading="lazy" width="760" height="560" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-4.jpg" loading="lazy" width="760" height="560" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-5.jpg" loading="lazy" width="960" height="560" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-6.jpg" loading="lazy" width="560" height="560" alt="image")
        .bullet-pagination
