section.fill-section
  .wrapper
    .fill-section__container
      .swiper-bullet
        .fill-section__cards.swiper-wrapper
          .fill-section__card.swiper-slide
            img.fill-section__card-icon(src="images/fill-section-card-icon-1.svg" loading="lazy" width="44" height="44" alt="icon")
            .font-s-18 Быстрый старт
          .fill-section__card.swiper-slide
            img.fill-section__card-icon(src="images/fill-section-card-icon-2.svg" loading="lazy" width="44" height="44" alt="icon")
            .font-s-18 Высокая рентабельность
          .fill-section__card.swiper-slide
            img.fill-section__card-icon(src="images/fill-section-card-icon-3.svg" loading="lazy" width="44" height="44" alt="icon")
            .font-s-18 Стабильная прибыль
        .bullet-pagination
