footer.footer
  .wrapper
    .footer__container
      .footer__brand
        .font-w-bold.font-s-18 © ВЕДЬМИНЫ СЕКРЕТЫ,2024
        a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      img.footer__logo(src="images/logo-header.png" loading="lazy" width="471" height="396" alt="logo")
      a.footer__privacy-mobile.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__connection
        a(href="tel:+79999999999")
          img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="14" height="14" alt="icon")
        include ../components/phone-number.pug
        //- .footer__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
