section.info-section
  .wrapper
    .info-section__container
      h2.info-section__title.font-w-bold-ital.font-s-44.text-up
        | Почувствуйте себя 
        br.no-br
        | владельцем KUZOVNOY №1
      .info-section__sub-title.font-s-18
        | Запишитесь на тест-драйв франшизы и вы узнаете:
      .swiper-info
        .info-section__cards.swiper-wrapper
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 01
            .font-s-18 Как вести документооборот
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 02
            .font-s-18 Как расширять клиентскую базу
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 03
            .font-s-18 Как избежать ошибок на старте
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 04
            .font-s-18 Как работать с поставщиками
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 05
            .font-s-18 Как организовать пространство вашего автосервиса
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 06
            .font-s-18 Как всегда быть в курсе новинок рынка
          .info-section__card.swiper-slide
            .font-w-bold-ital.font-s-18.color-blue 07
            .font-s-18 Как и из чего будет формироваться ваша прибыль
        .info-pagination.swiper-progress-info
      .info-section__bottom
        form.info-section__form(data-feedback-form)
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.btn--tertiary(type="submit") Записаться
        img.info-section__bottom-img(src="images/info-section-bottom-img.jpg" loading="lazy" width="1320" height="600" alt="image")
      img.info-section__img(src="images/info-section-img.png" loading="lazy" width="920" height="992" alt="image")
