section.invest-section
  .wrapper
    .invest-section__container
      h2.invest-section__title.font-w-o-regular.font-s-48.text-up
        | Сколько стоит открытие 
        br.no-br
        | кондитерской 
        span.color-violet по франшизе
      .invest-section__sub-title.font-w-medium.font-s-20
        | Выберите размер вашего города 
        br.no-br
        | и узнайте величину паушального взноса и размер инвестиций 
        span.color-violet в 1 клик!
      .swiper-bullet
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-o-regular
              | до 500 000 
              br.no-br
              | жителей
            .invest-section__card-line
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-o-regular
              | до 1 000 000 
              br.no-br
              | жителей
            .invest-section__card-line
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-o-regular
              | от 1 000 000 
              br.no-br
              | жителей
            .invest-section__card-line
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
        .bullet-pagination
