.remodal.remodal--privacy.modal-scrollable(data-remodal-id='privacy' data-remodal-options="modifier: modal-scrollable, hashTracking:false")
  .content-privacy
    .content-privacy__close(data-remodal-action="close").tap-color
      .content-privacy__icon
    .content-privacy__btn-up.tap-color
      .content-privacy__icon-up(data-scroll-top)
        img(src="images/arrow-up.svg" loading="lazy" alt="arrow-up" width="20" height="21").d-block
    h2 Политика конфиденциальности
    strong
      p
        |Настоящая Политика конфиденциальности устанавливает правила использования 
        |персональной информации, получаемой от пользователей сайта администратором сайта «ELZA ART».
      p
        |Настоящая Политика конфиденциальности применяется ко всем Пользователям Сайта. 
        |Все термины и определения, встречающиеся в тексте Политики толкуются в соответствии с действующим законодательством РК.
      p
        |Пользователи прямо соглашаются на обработку своих персональных данных, как это описано в настоящей Политике. 
        |Использование сайта означает выражение Пользователем безоговорочного согласия 
        |с Политикой и указанными условиями обработки информации. Пользователь не должен пользоваться сайтом, 
        |если Пользователь не согласен с условиями Политики.
    strong
      p Содержание:
    ul
      li
        p 1. Персональная информация Пользователей
      li
        p 2. Цели обработки персональной информации Пользователей
      li
        p 3. Условия и способы обработки персональной информации Пользователей
      li
        p 4. Меры, применяемые для защиты персональной информации Пользователя
      li
        p 5. Разрешение споров
      li
        p 6. Дополнительные условия
    strong
      p 1. Персональная информация Пользователей
      p 1.1. Сайт собирает, получает доступ и использует в определенных Политикой целях персональные данные 
        |Пользователей, техническую и иную информацию, связанную с Пользователями.
      p 1.2. Техническая информация не является персональными данными. Компания использует файлы cookies, 
        |которые позволяют идентифицировать Пользователя. Файлы cookies – это текстовые файлы, доступные Компании, 
        |для обработки информации об активности Пользователя, включая информацию о том, какие страницы посещал 
        |Пользователь и о времени, которое Пользователь провел на странице. Пользователь может отключить возможность 
        |использования файлов cookies в настройках браузера.
      p 1.3. Также под технической информацией понимается информация, которая автоматически передается 
        |Компании в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения.
      p 1.4. Под персональными данными Пользователя понимается информация, которую 
        |Пользователь предоставляет Компании при заполнении заявки на Сайте и последующем использовании Сайта.
      p Обязательная для предоставления Компании информация помечена специальным образом. 
        |Иная информация предоставляется Пользователем на его усмотрение.
      p 1.5. Компания также может обрабатывать данные, сделанные общедоступными субъектом 
        |персональных данных или подлежащие опубликованию или обязательному раскрытию в соответствии с законом.
      p 1.6. Компания не проверяет достоверность персональной информации, предоставляемой Пользователем, 
        |и не имеет возможности оценивать его дееспособность. Однако Компания исходит из того, 
        |что Пользователь предоставляет достоверную и достаточную персональную информацию 
        |о себе и поддерживает эту информацию в актуальном состоянии.
      p 2. Цели обработки персональной информации Пользователей
      p 2.1. Главная цель Компании при сборе персональных данных — предоставление информационных, 
        |консультационных услуг Пользователям. Пользователи соглашаются с тем, что Компания также может использовать их персональные данные для:
    ul
      li
        p • Идентификация стороны в рамках предоставляемых услуг;
      li
        p Предоставления услуг и клиентской поддержки по запросу Пользователей;
        p Улучшение качества услуг, удобства их использования, разработка и развитие Сайта, 
          |устранения технических неполадок или проблем с безопасностью;
        p Анализ для расширения и совершенствования услуг, информационного наполнения и рекламы услуг;
        p Информирования Пользователей об услугах, целевом маркетинге, обновлении услуг 
          |и рекламных предложениях на основании информационных предпочтений Пользователей;
        p Таргетирование рекламных материалов; рассылки индивидуальных маркетинговых сообщений посредством электронной почты;
        p Проведение статистических и иных исследований на основе обезличенных данных.
    strong
      p 2.2. Компания использует техническую информацию обезличено в целях, указанных в пункте 2.1.
      p 3. Условия и способы обработки персональной информации Пользователей
      p 3.1. Пользователь дает согласие на обработку своих персональных данных путём отправки заявки 
        |(любой письменный запрос, содержащий контактные данные).
      p 3.2. Обработка персональных данных Пользователя означает сбор, запись, систематизацию, 
        |накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу 
        |(распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных Пользователя.
      p 3.3. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, 
        |кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц
      p 3.4. Компания вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
    ul
      li
        p Пользователь выразил согласие на такие действия;
      li
        p Передача необходима для использования Пользователем определенной услуги Сайта либо для исполнения 
          |определенного договора или соглашения с Пользователем;
        p Передача уполномоченным органам государственной власти Республики Казахстан по основаниям и в порядке, 
          |установленным законодательством Республики Казахстан;
        p В целях обеспечения возможности защиты прав и законных интересов Компании или третьих лиц в случаях, 
          |когда Пользователь нарушает условия договоров и соглашений с Компанией, 
          |настоящую Политику, либо документы, содержащие условия использования конкретных услуг;
        p В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные 
          |статистические данные, передаются третьему лицу для проведения исследований, 
          |выполнения работ или оказания услуг по поручению Компании.
    strong
      p 4. Меры, применяемые для защиты персональной информации Пользователя
      p 4.1. Компания принимает необходимые и достаточные правовые, организационные и технические меры 
        |для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, 
        |изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
      p 5. Разрешение споров
      p 5.1. Все возможные споры, вытекающие из отношений, регулируемых настоящей Политикой, разрешаются 
        |в порядке, установленном действующим законодательством Республики Казахстан, по нормам казахстанского права.
      p 5.2. Соблюдение досудебного (претензионного) порядка урегулирования споров является обязательным.
      p 6. Дополнительные условия
      p 6.1. Компания вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
      p 6.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения, если иное не предусмотрено 
        |новой редакцией Политики конфиденциальности.
