section.start-section
  .wrapper
    .start-section__container
      img.start-section__icon(src="images/start-section-icon.png" loading="lazy" width="139" height="116" alt="icon")
      h2.start-section__title.font-w-ultra-bold.font-s-56
        | Как мы поможем вам 
        br
        span.color-yellow на старте?
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Проведем для вас <br> дистанционное <br> обучение
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Предоставим руководство <br> по использованию <br> фирменного стиля
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Передадим технологии <br> приготовления <br> напитков
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Поделимся рабочими <br> маркетинговыми <br> инструментами
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Дадим рекомендации <br> по выбору локации <br> и помещения
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Подключим к общему <br> программному <br> обеспечению
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Поможем правильно <br> оборудовать и оформить <br> вашу точку
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
            .font-s-16 Добавим в закрытое <br> сообщество сети <br> франшизы
        .bullet-pagination
      .start-section__bottom
        .font-w-bold.font-s-36 Узнайте больше о работе с нами
        .start-section__bottom-text.font-w-semi-bold.font-s-20
          | Скачайте договор, в котором описаны 
          br.no-br
          | наши обязанности и все условия сотрудничества
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") скачать
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1980" height="1658" alt="image")
  img.main-section__icon-wave(src="images/icon-wave.svg" loading="lazy" width="1920" height="36" alt="wave")
