section.steps-section
  .out-wrapper.steps-section__out-wrapper
    .wrapper
      .steps-section__container
        h2.steps-section__title.font-w-o-regular.font-s-36.text-up
          | Какие этапы вам предстоит 
          br.no-br
          | пройти 
          span.color-violet на старте
        .swiper-bullet
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-o-regular 01
              .steps-section__card-text.font-s-18
                | Заключение договора 
                br
                | франшизы
            .steps-section__card.swiper-slide.steps-card-order-3
              .steps-section__card-num.font-w-o-regular 02
              .steps-section__card-text.font-s-18
                | Поиск помещения и 
                br
                | заключение договора 
                br
                | аренды
            .steps-section__card.swiper-slide.steps-card-order-5
              .steps-section__card-num.font-w-o-regular 03
              .steps-section__card-text.font-s-18
                | Ремонт и оформление 
                br
                | помещения
            .steps-section__card.swiper-slide.steps-card-order-7
              .steps-section__card-num.font-w-o-regular 04
              .steps-section__card-text.font-s-18
                | Поиск персонала
            .steps-section__card.swiper-slide.steps-card-order-9
              .steps-section__card-num.font-w-o-regular 05
              .steps-section__card-text.font-s-18
                | Доставка и монтаж 
                br
                | приобретенного 
                br
                | оборудования, мебели
            .steps-section__card.swiper-slide.steps-card-order-2
              .steps-section__card-num.font-w-o-regular 06
              .steps-section__card-text.font-s-18
                | Формирование первичных 
                br
                | запасов товара и расходных 
                br
                | материалов
            .steps-section__card.swiper-slide.steps-card-order-4
              .steps-section__card-num.font-w-o-regular 07
              .steps-section__card-text.font-s-18
                | Запуск рекламных кампаний
            .steps-section__card.swiper-slide.steps-card-order-6
              .steps-section__card-num.font-w-o-regular 08
              .steps-section__card-text.font-s-18
                | Обучение персонала
            .steps-section__card.swiper-slide.steps-card-order-8
              .steps-section__card-num.font-w-o-regular 09
              .steps-section__card-text.font-s-18
                | Открытие
          .bullet-pagination
        .steps-section__bottom
          .font-w-semi-bold.font-s-18
            | Работаем строго по договору, 
            br.no-br
            | в котором описаны наши обязанности 
            br.no-br
            | и все условия сотрудничества
          button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
        img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1688" height="1708" alt="image")
