section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold.font-s-45
        | Почувствуйте себя владельцем 
        span.color-sea ЮЭНКОМ
      .support-section__sub-title.font-w-bold.font-s-20
        | Запишитесь на тест-драйв франшизы и вы узнаете:
      .support-section__block
        .support-section__block-cards
          .swiper-bullet
            .support-section__cards.swiper-wrapper
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  | Как вести 
                  span.font-w-bold документооборот
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  | Как расширять 
                  span.font-w-bold клиентскую базу
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  | Как 
                  span.font-w-bold избежать ошибок 
                  | на старте
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  | Как 
                  span.font-w-bold организовать пространство 
                  | фирмы
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  | Как 
                  span.font-w-bold всегда быть в курсе 
                  | новинок рынка
              .support-section__card.swiper-slide
                img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
                .font-s-20
                  span.font-w-bold Как и из чего будет формироваться ваша 
                  br.no-br
                  span.font-w-bold прибыль
            .bullet-pagination
        .support-section__block-feedback
          img.support-section__img(src="images/support-section-img.jpg" loading="lazy" width="1156" height="398" alt="image")
          form.support-section__form(data-feedback-form)
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
            input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш номер")
            button.btn(type="submit") Записаться на тест
      img.support-section__card-icons(src="images/support-section-card-icons.png" loading="lazy" width="72" height="766" alt="icon")
      img.support-section__logo-icon(src="images/support-section-logo-icon.png" loading="lazy" width="316" height="284" alt="logo")
