section.thanks-section
  .out-wrapper.thanks-section__out-wrapper
    .thanks-section__container
      h1.thanks-section__title.font-w-o-regular.font-s-40.text-up
        | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
        | ВАШЕЙ ЗАЯВКОЙ
      p.thanks-section__inner-text.font-w-bold.font-s-24
        | Мы свяжемся с Вами в ближайшее время
      a.btn(href="index.html") Вернуться на главную
