.details-section
  // background-image: url('../images/details-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #fff

  &__container
    position relative
    z-index 1
    padding 20px 0 1px
    color: $color-black-text
    +above($breakpoints.sm)
      padding 50px 0
    +above($breakpoints.md)
      padding 90px 0
    +above($breakpoints.xxl)
      padding 120px 0 121px

  &__icon-star-up,
  &__icon-star-down
    position: absolute
    z-index -1
    width 25px
    height: 25px
    +above($breakpoints.sm)
      width 30px
      height: 30px
    +above($breakpoints.md)
      width 38px
      height: 38px
    +above($breakpoints.xxl)
      width 48px
      height: 48px

  &__icon-star-up
    top: 54px;
    left: -3px;
    +above($breakpoints.sm)
      top: 76px;
      left: 54px;
    +above($breakpoints.md)
      top: 124px;
      left: 77px;
    +above($breakpoints.xxl)
      top: 160px
      left: 92px

  &__icon-star-down
    bottom: 17px;
    right: -2px;
    +above($breakpoints.sm)
      bottom: 98px;
      right: -61px;
    +above($breakpoints.md)
      bottom: 151px;
      right: -71px;
    +above($breakpoints.xxl)
      bottom: 190px
      right: -92px

  &__title
    padding 0 0 15px
    text-align: center
    +above($breakpoints.sm)
      padding 0 0 30px
    +above($breakpoints.md)
      padding 0 0 40px
    +above($breakpoints.xxl)
      padding 0 0 60px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      gap: 15px
    +above($breakpoints.xxl)
      gap: 20px

  &__card
    width 280px !important
    +above($breakpoints.sm)
      width auto !important

  &__card-img
    width auto
    height: 163px
    margin 0 auto
    border-radius: 10px
    +above($breakpoints.sm)
      height: 173px
      margin 0
      border-radius: 15px
    +above($breakpoints.md)
      height: 229px
    +above($breakpoints.xxl)
      height: 280px
      border-radius: 20px
