.fill-section
  // background-image: url('../images/fill-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color $color-blue

  &__container
    position relative
    padding 15px 0 1px 0
    +above($breakpoints.sm)
      padding 20px 0
    +above($breakpoints.md)
      padding 25px 0
    +above($breakpoints.xxl)
      padding 28px 0

  &__cards
    +above($breakpoints.sm)
      display: flex
      align-items: center
      justify-content center
      gap: 30px
    +above($breakpoints.md)
      gap: 50px
    +above($breakpoints.xxl)
      gap: 70px

  &__card
    width 280px !important
    display: flex
    align-items: center
    justify-content center
    gap: 5px
    color: #fff
    +above($breakpoints.sm)
      width 200px !important
      gap: 10px
    +above($breakpoints.md)
      width 280px !important
      gap: 15px
    +above($breakpoints.xxl)
      justify-content start
      width 290px !important
      gap: 20px

  &__card-icon
    width 20px
    height: 20px
    +above($breakpoints.sm)
      width 30px
      height: 30px
    +above($breakpoints.md)
      width 40px
      height: 40px
    +above($breakpoints.xxl)
      width 44px
      height: 44px
