.footer
  background-color: #fff

  &__container
    display: flex
    align-items: center
    flex-direction: column
    color: $color-black-text
    gap: 10px
    padding 10px 0
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      padding 15px 0
    +above($breakpoints.md)
      padding 20px 0
    +above($breakpoints.xxl)
      padding 30px 0

  &__brand
    display: none
    +above($breakpoints.sm)
      flex-basis: 40%
      display: flex
      flex-direction: column
      gap: 4px

  &__logo
    width 90px
    height: auto
    +above($breakpoints.sm)
      width 120px
    +above($breakpoints.md)
      width 140px
    +above($breakpoints.xxl)
      width 157px

  &__privacy,
  &__privacy-mobile
    cursor pointer
    text-decoration: underline

  &__privacy-mobile
    +above($breakpoints.sm)
      display: none

  &__connection
    display: flex
    align-items: center
    justify-content flex-end
    gap: 6px
    color: #2D2D2D
    +above($breakpoints.sm)
      flex-basis: 40%
      gap: 8px;
    +above($breakpoints.md)
      gap: 10px;
    +above($breakpoints.xxl)
      gap: 13px

  &__connection-icon
    width 12px
    height: 12px
    +above($breakpoints.md)
      width 13px
      height: 13px
    +above($breakpoints.xxl)
      width 14px
      height: 14px

  &__call-me
    display: none
    +above($breakpoints.sm)
      display: flex
