.header-thanks
  &__container
    display: flex
    justify-content space-between
    align-items: center

  &__brand-block
    +above($breakpoints.sm)
      display: flex
      align-items: center
      gap: 12px
    +above($breakpoints.md)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 16px

  &__logo
    width 110px
    height: auto
    +above($breakpoints.sm)
      width 120px
    +above($breakpoints.md)
      width 130px
    +above($breakpoints.xxl)
      width 141px

  &__line
    +above($breakpoints.sm)
      width 1px
      height: 25px
      background-color #000
    +above($breakpoints.md)
      height: 30px
    +above($breakpoints.xxl)
      height: 35px

  &__line,
  &__brand
    display: none
    +above($breakpoints.sm)
      display: block

  &__connection
    display: flex
    align-items: center
    gap: 5px
    +above($breakpoints.sm)
      justify-content flex-end
      gap: 10px

  &__connection-icon
    width 12px
    height: 12px
    +above($breakpoints.sm)
      width 16px
      height: 16px
    +above($breakpoints.md)
      width 20px
      height: 20px
    +above($breakpoints.xxl)
      width 24px
      height: 24px
