.invest-section
  // background-image: url('../images/invest-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #fff

  &__container
    position relative
    z-index 1
    color: $color-black-text
    text-align: center
    padding 20px 0 1px 0
    +above($breakpoints.sm)
      padding 50px 0
    +above($breakpoints.md)
      padding 80px 0
    +above($breakpoints.xxl)
      padding 120px 0

  &__sub-title
    padding 10px 0 15px
    +above($breakpoints.sm)
      padding 15px 0 40px
    +above($breakpoints.md)
      padding 18px 0 50px
    +above($breakpoints.xxl)
      padding 20px 0 60px

  &__cards
    +above($breakpoints.sm)
      display: flex
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      gap: 20px

  &__card
    width 280px !important
    height: 170px
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content center
    align-items: center
    gap: 15px
    background-color #eee1f8
    border: 3px solid #d3b1ed
    +above($breakpoints.sm)
      border: 4px solid #d3b1ed
      gap: 20px
      border-radius: 15px
      width 235px !important
      height: 235px
    +above($breakpoints.md)
      border: 5px solid #d3b1ed
      gap: 25px
      border-radius: 20px
      width 308px !important
      height: 308px
    +above($breakpoints.xxl)
      border: 6px solid #d3b1ed
      border-radius: 30px
      gap: 30px
      width 380px !important
      height: 380px

  &__card-title
    font-size: 20px
    line-height: 110%
    text-transform: uppercase
    color: $color-violet
    +above($breakpoints.sm)
      font-size: 24px
    +above($breakpoints.md)
      font-size: 30px
    +above($breakpoints.xxl)
      font-size: 36px

  &__card-line
    width 40px
    height: 2px
    background-color $color-violet

  &__btn
    width 220px !important
    +above($breakpoints.sm)
      width 180px !important
    +above($breakpoints.md)
      width 240px !important
    +above($breakpoints.xxl)
      width 280px !important
