.steps-section
  &__out-wrapper
    background-image: url('../images/steps-section-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-color $color-violet

  &__container
    position relative
    z-index 1
    padding 20px 0 10px
    +above($breakpoints.sm)
      padding 70px 0 100px
    +above($breakpoints.md)
      padding 90px 0 120px
    +above($breakpoints.xxl)
      padding 120px 0 196px

  &__title,
  &__bottom
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__bottom,
  &__card-text
    +above($breakpoints.sm)
      letter-spacing: 0.6px

  &__title
    position relative
    z-index 1
    padding 0 0 15px 0
    +above($breakpoints.sm)
      padding 0 0 30px 0
    +above($breakpoints.md)
      padding 0 0 40px 0
    +above($breakpoints.xxl)
      padding 0 0 60px 0
    &:after
      content: ""
      position: absolute
      z-index -1
      background-color $color-yellow
      border-radius: 52px
      width: 97px;
      height: 17px;
      top: 17px;
      left: 141px;
      +above($breakpoints.sm)
        width: 149px;
        height: 28px;
        top: 24px;
        left: 100px;
      +above($breakpoints.md)
        width: 182px;
        height: 38px;
        top: 30px;
        left: 125px;
      +above($breakpoints.xxl)
        width: 220px;
        height: 49px;
        top: 34px;
        left: 149px;

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px 0
      width 550px
    +above($breakpoints.md)
      width 800px
      gap: 15px 0
    +above($breakpoints.xxl)
      gap: 20px 0

  &__card
    width 280px !important
    display: flex
    align-items: center
    justify-content center
    gap: 7px
    +above($breakpoints.sm)
      justify-content start
      width: 235px !important;
      gap: 15px;
    +above($breakpoints.md)
      width: 320px !important;
      gap: 18px;
    +above($breakpoints.xxl)
      width 400px !important
      gap: 20px

  &__card-num
    background-color $color-yellow
    color: $color-violet
    border-radius: 50%
    display: flex
    justify-content center
    align-items: center
    width 40px
    height: 40px
    font-size: 20px
    line-height: 110%
    +above($breakpoints.sm)
      font-size: 24px
      width 53px
      height: 53px
    +above($breakpoints.md)
      font-size: 30px
      width 64px
      height: 64px
    +above($breakpoints.xxl)
      font-size: 36px
      width 80px
      height: 80px

  &__bottom
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    +above($breakpoints.sm)
      align-items: flex-start
      position: absolute
      gap: 15px
      bottom: 45px;
      left: 236px;
    +above($breakpoints.md)
      gap: 18px;
      bottom: 50px;
      left: 319px;
    +above($breakpoints.xxl)
      gap: 20px
      bottom: 120px
      left: 400px

  &__btn
    width 280px !important
    +above($breakpoints.sm)
      width 200px !important
    +above($breakpoints.md)
      width 240px !important
    +above($breakpoints.xxl)
      width 280px !important

  &__img
    width 280px
    height: auto
    margin: -38px 0 0 -23px;
    +above($breakpoints.sm)
      margin 0
      position: absolute
      z-index -1
      width: 450px;
      bottom: 44px;
      right: -20px;
    +above($breakpoints.md)
      width: 587px;
      bottom: 20px;
      right: -28px;
    +above($breakpoints.xxl)
      width 844px
      bottom: 20px
      right: -130px

.steps-card-order-2
  +above($breakpoints.sm)
    order: 2
.steps-card-order-3
  +above($breakpoints.sm)
    order: 3
.steps-card-order-4
  +above($breakpoints.sm)
    order: 4
.steps-card-order-5
  +above($breakpoints.sm)
    order: 5
.steps-card-order-6
  +above($breakpoints.sm)
    order: 6
.steps-card-order-7
  +above($breakpoints.sm)
    order: 7
.steps-card-order-8
  +above($breakpoints.sm)
    order: 8
.steps-card-order-9
  +above($breakpoints.sm)
    order: 9
