.support-section
  background-image: url('../images/support-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #f7f7f6

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      padding 50px 0 40px 0
    +above($breakpoints.md)
      padding 70px 0 60px 0
    +above($breakpoints.xxl)
      padding 112px 0 95px 0

  &__title,
  &__sub-title
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__sub-title
    display: flex
    justify-content center
    align-items: center
    width 100%
    height: 37px
    background-color #0C8FC6
    color: #EDFAFF
    border-radius: 8px
    margin 5px auto 15px
    +above($breakpoints.sm)
      margin 5px 0 25px 0
      border-radius: 12px
      width: 370px;
      height: 27px;
    +above($breakpoints.md)
      margin 0 0 30px 0
      border-radius: 15px
      width: 475px;
      height: 39px;
    +above($breakpoints.xxl)
      margin 0 0 40px 0
      width 531px
      height: 39px

  &__block
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    +above($breakpoints.sm)
      flex-direction: row
      align-items: flex-end
      justify-content space-between

  &__block-cards
    width 100%
    background-color #fff
    border-radius: 10px
    padding 15px 0
    +above($breakpoints.sm)
      width 355px
      border-radius: 15px
      padding: 40px 10px 49px 50px;
    +above($breakpoints.md)
      border-radius: 20px
      width 475px
      padding: 36px 10px 44px 80px;
    +above($breakpoints.xxl)
      border-radius: 25px
      width 579px
      height: 504px
      padding 42px 10px 58px 110px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-direction: column
      gap: 35px
    +above($breakpoints.md)
      gap: 38px
    +above($breakpoints.xxl)
      gap: 44px

  &__card
    width 280px !important
    display: flex
    align-items: center
    justify-content center
    gap: 10px
    +above($breakpoints.sm)
      justify-content start
      gap: 0
      width 290px !important
    +above($breakpoints.md)
      width 370px !important
    +above($breakpoints.xxl)
      width 400px !important

  &__card-icon
    width 20px
    height: 20px
    +above($breakpoints.sm)
      display: none

  &__block-feedback
    display: flex
    flex-direction: column
    align-items: center
    gap: 15px
    +above($breakpoints.sm)
      align-items: flex-end
    +above($breakpoints.md)
      gap: 20px
    +above($breakpoints.xxl)
      gap: 24px

  &__img
    width 308px
    height: auto
    border-radius: 8px
    +above($breakpoints.sm)
      border-radius: 10px
      width 355px
    +above($breakpoints.md)
      border-radius: 12px
      width 475px
    +above($breakpoints.xxl)
      border-radius: 15px
      width 578px

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    padding 15px
    border-radius: 8px
    background-color #0C8FC650
    +above($breakpoints.sm)
      border-radius: 10px
      width 270px
      padding 25px 20px
    +above($breakpoints.md)
      border-radius: 12px
      width 330px
      padding 30px 25px 30px 25px
    +above($breakpoints.xxl)
      border-radius: 15px
      width 379px
      height: 281px
      padding 35px 27px 38px 27px

  &__card-icons
    display: none
    +above($breakpoints.sm)
      display: block
      position: absolute
      width: 25px;
      height: auto;
      bottom: 97px;
      left: 9px;
    +above($breakpoints.md)
      width: 31px;
      bottom: 128px;
      left: 18px;
    +above($breakpoints.xxl)
      width 36px
      bottom: 177px
      left: 30px

  &__logo-icon
    position: absolute
    width: 50px;
    height: auto;
    bottom: 351px;
    right: 258px;
    +above($breakpoints.sm)
      width: 60px;
      bottom: 211px;
      right: 287px;
    +above($breakpoints.md)
      width: 70px;
      bottom: 247px;
      right: 353px;
    +above($breakpoints.xxl)
      width 79px
      bottom: 305px
      right: 402px
