.swiper-basic
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-bullet
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

// .swiper-desktop
//   margin: 0 auto
//   width 308px !important
//   overflow: hidden
//   +above($breakpoints.sm)
//     width 100% !important
//     overflow: hidden
//   +above($breakpoints.md)
//     width 100% !important
//     overflow: hidden
//   +above($breakpoints.xxl)
//     width 100% !important
//     overflow: hidden
