.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic
.text-bold
  font-weight: bold

.d-block
  display: block
.d-inline
  display: inline

.no-br
  display: none
  +above($breakpoints.sm)
    display: block
.no-br-md
  display: none
  +above($breakpoints.md)
    display: block
.no-br-xxl
  display: none
  +above($breakpoints.xxl)
    display: block

.color-white
  color: $color-white
.color-black
  color: $color-black

.color-black-text
  color: $color-black-text
.color-yellow
  color: $color-yellow
.color-violet
  color: $color-violet


// .font-w-thin
//   font-family: 'Commissioner-Thin'
//   font-weight: 100
.font-w-extra-light
  font-family: 'Inter-ExtraLight'
  font-weight: 200
// .font-w-light
//   font-family: 'RFDEWIEXTENDED-LIGHT'
//   font-weight: 300
.font-w-regular
  font-family: 'Inter-Regular'
  font-weight: 400
.font-w-medium
  font-family: 'Inter-Medium'
  font-weight: 500
.font-w-semi-bold
  font-family: 'Inter-SemiBold'
  font-weight: 600
.font-w-bold
  font-family: 'Inter-Bold'
  font-weight: 700
// .font-w-ultra-bold
//   font-family: 'RFDEWIEXTENDED-ULTRABOLD'
//   font-weight: 800
// .font-w-black
//   font-family: 'Lato-Black'
//   font-weight: 900

.font-w-o-regular
  font-family: 'OrelegaOne-Regular'
  font-weight: 400


.font-s-10
  font-size: 9px
  line-height: 120%
  +above($breakpoints.xxl)
    font-size: 10px
.font-s-12
  font-size: 10px
  line-height: 120%
  +above($breakpoints.md)
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 12px
.font-s-13
  font-size: 10px
  line-height: 133%
  +above($breakpoints.md)
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 13px
.font-s-14
  font-size: 11px
  line-height: 110%
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px
.font-s-15
  font-size: 12px
  line-height: 127%
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 15px
.font-s-16
  font-size: 13px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 12px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 16px
.font-s-17
  font-size: 13px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 12px
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 17px
.font-s-18
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 11px
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-19
  font-size: 12px
  line-height: 117%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 17px
  +above($breakpoints.xxl)
    font-size: 19px
.font-s-20
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-21
  font-size: 14px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 21px
.font-s-22
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-23
  font-size: 13px
  line-height: 155%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 23px
.font-s-24
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-25
  font-size: 12px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 25px
.font-s-26
  font-size: 13px
  line-height: 119%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-27
  font-size: 14px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 19px
  +above($breakpoints.xxl)
    font-size: 27px
.font-s-28
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 20px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 28px
.font-s-30
  font-size: 13px
  line-height: 113%
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    line-height: 147%
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 30px
.font-s-32
  font-size: 13px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 21px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 32px
.font-s-33
  font-size: 14px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 21px
  +above($breakpoints.md)
    font-size: 24px
  +above($breakpoints.xxl)
    font-size: 33px
.font-s-34
  font-size: 15px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 34px
.font-s-35
  font-size: 14px
  line-height: 122%
  +above($breakpoints.sm)
    font-size: 22px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 35px
.font-s-36
  font-size: 16px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 36px
.font-s-37
  font-size: 17px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 37px
.font-s-38
  font-size: 20px
  line-height: 121%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 38px
.font-s-40
  font-size: 16px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 36px
  +above($breakpoints.xxl)
    font-size: 40px
.font-s-42
  font-size: 16px
  line-height: 128%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 42px
.font-s-43
  font-size: 17px
  line-height: 115%
  +above($breakpoints.sm)
    font-size: 25px
  +above($breakpoints.md)
    line-height: 130%
    font-size: 36px
  +above($breakpoints.xxl)
    font-size: 43px
.font-s-44
  font-size: 17px
  line-height: 122%
  +above($breakpoints.sm)
    font-size: 25px
  +above($breakpoints.md)
    font-size: 36px
  +above($breakpoints.xxl)
    font-size: 44px
.font-s-45
  font-size: 17px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 25px
  +above($breakpoints.md)
    font-size: 36px
  +above($breakpoints.xxl)
    font-size: 45px
.font-s-46
  font-size: 17px
  line-height: 109%
  +above($breakpoints.sm)
    font-size: 28px
  +above($breakpoints.md)
    font-size: 38px
  +above($breakpoints.xxl)
    font-size: 46px
.font-s-48
  font-size: 16px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 28px
  +above($breakpoints.md)
    font-size: 38px
  +above($breakpoints.xxl)
    font-size: 48px
.font-s-50
  font-size: 16px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 50px
.font-s-52
  font-size: 20px
  line-height: 117%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 52px
.font-s-53
  font-size: 16px
  line-height: 117%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 53px
.font-s-54
  font-size: 17px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 54px
.font-s-55
  font-size: 17px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    line-height: 130%
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 55px
.font-s-56
  font-size: 17px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 56px
.font-s-58
  font-size: 15px
  line-height: 107%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 58px
.font-s-60
  font-size: 17px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 60px
.font-s-62
  font-size: 20px
  line-height: 110%
  +above($breakpoints.sm)
    font-size: 30px
  +above($breakpoints.md)
    font-size: 40px
  +above($breakpoints.xxl)
    font-size: 62px
.font-s-63
  font-size: 19px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 46px
  +above($breakpoints.md)
    font-size: 54px
  +above($breakpoints.xxl)
    font-size: 63px
.font-s-64
  font-size: 22px
  line-height: 122%
  +above($breakpoints.sm)
    font-size: 28px
  +above($breakpoints.md)
    font-size: 54px
  +above($breakpoints.xxl)
    font-size: 64px
.font-s-65
  font-size: 30px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 38px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 65px
.font-s-70
  font-size: 17px
  line-height: 100%
  +above($breakpoints.sm)
    font-size: 38px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 70px
.font-s-74
  font-size: 18px
  line-height: 95%
  +above($breakpoints.sm)
    font-size: 38px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 74px
.font-s-85
  font-size: 40px
  line-height: 94%
  +above($breakpoints.sm)
    font-size: 50px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 85px
.font-s-94
  font-size: 40px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 50px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 94px
