$base-font-family = 'Inter-Regular'

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1400px,
  xxxl: 1500px,
  xxxxl: 1920px,
  xxxxxl: 2100px,
  xxxxxxl: 3281px,
  xxxxxxxl: 6000px
}

$nbsp = ' '

$color-black-text = #1E2019
$color-yellow = #EAEA3C
$color-violet = #604278

$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-black = #000000
$color-grey-main = #303030
$color-privacy-btn = #604278
